@charset "utf-8";
/*! style.css © yamoo9.net, 2016 */

::-moz-selection {
  background: #3c3d48;
  color: #fff;
}
::selection {
  background: #3c3d48;
  color: #fff;
}

/**
 * --------------------------------
 * 웹폰트
 * --------------------------------
 * Montserrat
 * PT-serif
 * ----------------------------- */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* Regular */
}
.PT-serif {
  font-family: 'PT Serif', Serif;
}


/**
 * --------------------------------
 * 베이스 디자인
 * ----------------------------- */
html {
  overflow-y: scroll;
}


/**
 * --------------------------------
 * 메뉴(menu) 영역
 * ----------------------------- */
.menu {
  border-bottom: 1px solid #f2f2f2;
  color: #3c3d48;
}
.menu .container {
  padding-top: 30px;
  padding-bottom: 28px;
}
.menu .menu-tel {
  padding-left: 26px;
  font-size: 0.6875rem;
  letter-spacing: 0.17em;
  line-height: 1.818181818;
  background: url("../images/icons/Icon-headset.svg") no-repeat 0 1px;
}
.menu .brand {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 0.833333333;
  text-align: center;
}
.menu .unb {
  position: relative;
  margin-top: 10px;
}
.menu .unb .lang,
.menu .unb .currency {
  float: left;
  position: relative;
  width: 50px;
  height: 20px;
}
.menu .unb ul {
  display: none;
  position: absolute;
  top: 0px;
  border: 1px solid #333;
  width: 50px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  background: #fff;
}
.unb button {
  display: block;
  border: none;
  padding: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-size: 0.69rem;
  font-family: inherit;
  background: none;
}
.unb .lang button,
.unb .currency button {
  width: 50px;
  height: 20px;
}
.unb .lang > button,
.unb .currency > button {
  background: url("../images/icons/Icon-select.svg") no-repeat center right;
}
.unb .lang {
  position: relative;
  left: -25px;
}
.unb .currency {
  position: relative;
  left: -17px;
}
.unb .btn-lock {
  float: left;
  overflow: hidden;
  width: 20px;
  margin-left: 15px;
  text-indent: -9999em;
  background: url("../images/icons/Icon-lock.svg") no-repeat 0 1px;
}
.unb .btn-login {
  float: left;
  position: relative;
  left: 20px;
  padding-left: 22px;
  font-size: 10px;
  font-size: 0.625rem;
  letter-spacing: 0.17em;
  color: #5b5d69;
  background: url("../images/icons/Icon-face@2x.png") no-repeat 0 1px;
  background-size: 12px 16px;
}


/**
 * --------------------------------
 * 글로벌 내비게이션(gnb) 영역
 * ----------------------------- */
.gnb ul {
  margin: 14px 0 0 0;
  padding-left: 10px;
  padding-right: 10px;
}
.gnb li {
  float: left;
}
.gnb li:last-child a {
  position: relative;
  right: -4px;
  margin-right: 0;
  padding-right: 0;
}
.gnb li.has-sub-menu a {
  padding-right: 12px;
  background: url("../images/icons/Icon-select.svg") no-repeat right 18px;
}
.gnb a {
  display: block;
  margin-right: 40px;
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  vertical-align: top;
  color: #3c3d38;
}


/**
 * --------------------------------
 * 캐로셀(carousel) 영역
 * ----------------------------- */
.carousel {
  overflow: hidden;
  height: 580px;
  margin-top: 14px;
}
.carousel-content {
  position: relative;
  background: #efeff1;
  height: 580px;
}
.carousel-content .container {
  position: relative;
}
.carousel-content h3 {
  position: relative;
  top: 218px;
  left: 11px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 112px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 0.7;
  color: #3c3d48;
}
.carousel-content p {
  position: relative;
  top: 220px;
  left: 90px;
  margin-bottom: 0;
  font-size: 30px;
  font-style: italic;
  letter-spacing: 0.4em;
  line-height: 0.7;
  color: #afb0b5;
}
.carousel-content img {
  position: absolute;
  top: 0;
  right: 3px;
}