/* 본문 디자인 */
body {
  /* 외부 여백 설정 */
  margin-top: 96px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  /* 배경 이미지 설정 */
  background: url("../images/Leading-24px.png") repeat;
  /* CSS 상속 */
  /* 글자 색상 */
  color: #2d1618;
  /* 글자 크기 */
  /*font-size: 16px;*/
  /* 글자 두께 */
  /* 100 ~ 900, lighter(200) normal(400) bold(700) */
  /*font-weight: 400;*/
  /* 행간 설정 */
  line-height: 1.5;
}

/* 단락(Paragraph) 디자인 */
p {
  margin-bottom: 24px;
  text-align: justify;
}

/* 제목 디자인, 타입 배율 x1.25 */
/* 행간 계산 공식
 * STEP 1. 행의 개수를 구하라.
 * 글자 크기 비율(1.25) / 기본행간 비율(1.5)
 * 무조건!!!! 올림!!
 *
 * STEP 2.
 * 기본행간 비율(1.5) / 글자 크기 비율(1.25)
 * 위에 나온 값에 행의 개수를 곱해라.
 */
h6 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-bottom: 1.2em;
}
h5 {
 font-size: 1.5625em;
 line-height: 1.92;
 margin-bottom: .96em;
}
h4 {
 font-size: 1.953em;
 line-height: 1.54;
 margin-bottom: .7681em;
}
h3 {
 font-size: 2.441em;
 line-height: 1.85;
 margin-bottom: .6146em;
}
h2 {
 font-size: 3.0517em;
 line-height: 1.48;
 margin-bottom: .4916em;
}
h1 {
 font-size: 3.8146em;
 line-height: 1.18;
 margin-bottom: 0.3933em;
}