@charset "utf-8";

body {
  background: #000;
}

/**
 * --------------------------------
 * .sn-banner
 * ----------------------------- */
.sn-banner {
  overflow: hidden;
  position: absolute;
  width: 800px;
  height: 320px;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -400px;
  background: url("../images/BG.jpg") no-repeat;
  /* 텍스트 그림자 */
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
}

.sn-banner h1::selection {
  background-color: #4d222c;
  color: #cc92a1;
  text-shadow: none;
}

.sn-banner * {
  position: absolute;
  /*transition: 속성 지속시간 이징곡선 지연시간;*/
  /*transition: all 400ms ease-out 0ms;*/
}

.sn-banner h1 {
  opacity: 0;
  width: 320px;
  top: 28px;
  left: 121px;
  margin: 0;
  font-family: "Spoqa Han Sans", Sans-Serif;
  font-weight: 700;
  font-style: italic;
  font-size: 33px;
  line-height: 1.060606061;
  letter-spacing: -0.02em;
  color: #fff;
}

/* 애니메이션 시작 위치 */
.sn-banner [src$="apes.png"] {
  bottom: 93px;
  left: 814px;
  transition: all 0.6s cubic-bezier(0.03, 0.42, 0.32, 1.01);
}
.sn-banner [src$="golliras.png"] {
  bottom: 24px;
  left: -519px;
  transition: all 0.5s cubic-bezier(0, 0, 0.36, 0.96) 0.2s;
}
.sn-banner [src$="kingkong.png"] {
  top: 328px;
  right: 10px;
  transition: all 0.5s cubic-bezier(0.67, 0, 0.21, 0.98) 0.4s;
}
.sn-banner [src$="sn-logo.png"] {
  top: -112px;
  left: 18px;
  transition: all 0.8s cubic-bezier(0, 0.84, 0.68, 1.19) 0.7s;
}

/* 애니메이션이 종료된 상태의 위치 */
.sn-banner.anim-fin h1,
.sn-banner:hover h1 {
  animation: fadeIn 0.3s ease-out forwards alternate 1.5s;
}

.sn-banner.anim-fin [src$="apes.png"],
.sn-banner:hover [src$="apes.png"] {
  bottom: 93px;
  left: 4px;
}
.sn-banner.anim-fin [src$="golliras.png"],
.sn-banner:hover [src$="golliras.png"] {
  bottom: 24px;
  left: 11px;
}
.sn-banner.anim-fin [src$="kingkong.png"],
.sn-banner:hover [src$="kingkong.png"] {
  top: 28px;
  right: 10px;
}
.sn-banner.anim-fin [src$="sn-logo.png"],
.sn-banner:hover [src$="sn-logo.png"] {
  top: 18px;
  left: 18px;
}

/* 애니메이션 */
/* animation: 이름 지속시간 이징곡선 지연시간 */

/* 애니메이션 정의 */
/* 페이드인/아웃 */
@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0); }
  50% { opacity: 0.4; transform: scale(1.5); }
  100% { opacity: 1; transform: scale(1); }
}