@charset "utf-8";
/*! style.css © yamoo9.net, 2016 */
html {
  overflow-y: scroll;
  font-size: 100%;
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }
body { margin: 0; font-family: Arial; font-size: 1rem; line-height: 1.5; }
body.show-grid::before {
  content: '';
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 50%;
  width: 940px;
  height: 100vh;
  margin-left: -470px;
  background: url("../images/pattern-80-20.png");
}
/*
$header-bg:                     #4D4A49;
$header-logo:                   #F3977B;
$content-01-bg:                 #F7D1C5;
$content-03-indicator-deactive: #FDB29A;
$body-text:                     #5A5E65;
$content-06-input:              #DADEE7;
$content-06-input-text:         #A5A5A7;
$footer-bg:                     #D5D2D0;
*/

/* 공통 모듈(조립 가능한 작은 단위의 부품, 스타일 클래스) */
.wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both; }
.lt-ie8 .clearfix { zoom: 1; }

/**
 * --------------------------------
 * .page-header
 */
.page-header {
  background: #4D4A49;
  height: 120px;
}

.page-header * {
  margin-top: 0;
}

.page-header a {
  display: block;
}

.page-header .brand {
  margin-top: 30px;
  float: left;
}

.page-header img {
  vertical-align: bottom;
}

/**
 * --------------------------------
 * .page-gnb
 */
.page-gnb {
  float: right;
  margin-top: 35px;
  margin-right: -34px;
}
.page-gnb ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.page-gnb li {
  float: left;
}
.page-gnb a {
  display: block;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.125;
  padding: 1em 2em;
}

.page-gnb a:hover {
  color: #c77566;
}

.page-gnb li.on a {
  cursor: default;
  color: #f3977b;
}